@font-face {
  font-family: Vazir;
  src: url('../fonts/Vazir.eot');
  src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vazir.woff') format('woff'),
       url('../fonts/Vazir.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url('../fonts/Vazir-Bold.eot');
  src: url('../fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vazir-Bold.woff') format('woff'),
       url('../fonts/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
}

body {
    background-image: url(../img/bg.png);
    font-family: 'Vazir', tahoma;
    font-size: 16px;
}
a {
    color: aliceblue;
    text-decoration: none;
    text-shadow: 1px 2px 2px #000000;
}
select,
option,
option:not(:checked) {
    font-family: 'Vazir', tahoma;
    font-size: 14px;
    background: #ADD793;
    margin-top: 8px;
    border: 0px;
}

input {
    border: 0px;
    background-color: #ADD793;
    box-shadow: 2px 2px 3px #000000;
    font-family: 'Vazir', tahoma;
    font-size: 20px;
    margin: 1px 2px 8px 1px;
}

label {
    font-size: 18px;
    font-weight: bold;
    color: forestgreen;
}

/*
.contex {
}
.parasize {
}
.paratype {
}
.numpara {
}
*/

h1 {
    font-size: 40px;
    text-align: center;
    color: black;
    text-shadow: -1px 1px 1px #ffffff;
}

div {
    padding-left: 8px;
    padding-right: 8px;
    direction: rtl;
    text-align: right;
}

.container {
    margin: 1 auto;
    width: 80%;
}

#input {
    color: black;
    text-shadow: -1px 1px 1px #ffffff;
}

#output {
    margin-right: 5px;
}


#s-btn {
    border: 0px;
    background-color: #D30000;
    box-shadow: 2px 2px 3px #ffffff;
    font-family: 'Vazir', tahoma;
    font-size: 22px;
    margin: 1px 2px 8px 1px;
    color: #ffffff;
}

#p-btn {
    margin-right: 10%;
}

.para {
    font-family: 'Vazir', tahoma;
    padding: 1px 5px 1px 7px;
    font-size: 20px;
    color: black;
    text-shadow: -1px 1px 1px #ffffff;
}
.tagg {
/*    font-weight: bold;*/
    font-family: courier new;
    color: darkblue;
    
}
#footer {
    font-size: 14px;
    margin-right: 5px;
    padding: 1px 5px 1px 7px;
    color: #333333;
    text-decoration:none;
}